<button id='new-book-popup'>Add a new book</button>

<dialog id='add-book-dialog'>
	<label for='book-name'>Enter book name: </label>
	<input type='text' id='book-name' />
	<label for='book-description'>Add book description: </label>
	<input type='text' id='book-description' />
	<label for='is-read-input'>have read </label>
	<input type='checkbox' id='is-read-input' />
	<button id='add-book-button'>Add</button>
</dialog>
<section>
	<h3>Have read: </h3>
	{{#each readBooks as |readBook|}}
		<div class='user-books'>
			<h3>{{readBook.name}}</h3>
			<p>{{readBook.description}}</p>
		</div>
	{{/each}}
</section>
<section>
	<h3>Have not read: </h3>
	{{#each unreadBooks as |unreadBook|}}
		<div class='user-books'>
			<h3>{{unreadBook.name}}</h3>
			<p>{{unreadBook.description}}</p>
		</div>
	{{/each}}
</section>