<div class='media-top'>
	<h2 class='media-h2'>My books</h2>
	<button id='new-book-popup'>Add a new book</button>
</div>

<dialog id='add-book-dialog'>
	<div class='dialog-wrapper'>
		<input type='text' id='book-name' placeholder='Book Name' />
		<input type='text' id='book-description' placeholder='Description/Creator Name' />
		<label class='dialog-label' for='is-read-input'>Read?</label>
		<input class='switch-button' type='checkbox' id='is-read-input' />
		<button id='add-book-button'>Add</button>
	</div>
</dialog>
<section class='content-area'>
	<div>
		<h3 class='media-h3'>Want to read</h3>
		<hr />
		<ul class='media-ul'>
			{{#each readBooks as |readBook|}}
				<li class='media-li-title'>{{readBook.name}}</li>
				<li class='media-li-description'>{{readBook.description}}</li>
			{{/each}}
		</ul>
	</div>

	<div>
		<h3 class='media-h3'>Have read</h3>
		<hr />
		<ul class='media-ul'>
			{{#each unreadBooks as |unreadBook|}}
				<li class='media-li-title'>{{unreadBook.name}}</li>
				<li class='media-li-description'>{{unreadBook.description}}</li>
			{{/each}}
		</ul>
	</div>

</section>