<section class='card-container'>
	<div class='card'>
		<p>My books</p>
		<a href='/books'><img src='/assets/open-book-icon.png' alt='book-icon' /></a>
		{{! <button id='new-book-popup'>Add a new book</button> }}
	</div>
	<div class='card'>
		<p>My songs</p>
		<a href='/songs'><img src='/assets/music-note-icon.png' alt='song-icon' /></a>
		{{! <button id='new-song-popup'>Add a new song</button> }}
	</div>
	<div class='card'>
		<p>My movies</p>
		<a href='/movies'><img src='/assets/video-icon.png' alt='movie-icon' /></a>
		{{! <button id='new-movie-popup'>Add a movie</button> }}
	</div>
</section>