<div class='reg-container'>
	<section class='reg-input'>
		<input type='text' id='email-input' placeholder='Email' />
		<input type='password' id='password-input' placeholder='Password' />
		<button class='reg-btn' id='login-button'>Login</button>
	</section>
</div>
<p class='to-other'>Don't have an account yet? <a href='/register'>Register</a></p>