
	
<div class='container'>
	<label for='email-input'>Email: </label>
	<input type='text' id='email-input' />
	<label for='password-input'>Password: </label>
	<input type='password' id='password-input' />
	<button id='login-button'>Login</button>
	<p>Don't have an account yet? <a href='/register'>Register</a></p>
</div>

