<label for='email-input'>Email: </label>
<input type='text' id='email-input' />
<label for='password-input'>Password: </label>
<input type='password' id='password-input' />
<button id='login-button'>Login</button>