<main>
	<div class='media-top'>
		<button id='new-movie-popup'>Add a movie</button>
		<h2 class="media-h2">My movies</h2>
	</div>

	<dialog id='add-movie-dialog'>
		<div class='dialog-wrapper'>
			<input type='text' id='movie-name' placeholder='Movie Name' />
			<input type='text' id='movie-description' placeholder='Description/Director' />
			<label class='dialog-label' for='is-watched-input'>watched?</label>
			<input type='checkbox' id='is-watched-input' />
			<button id='add-movie-button'>Add</button>
		</div>
	</dialog>

	<section class='content-area'>
		<div>
			<h3 class="media-h3">Want to Watch</h3>
			<hr>
			<ul class='media-ul'>
				{{#each unwatchedMovies as |unwatchedMovie|}}

					<li class='media-li-title'>{{unwatchedMovie.name}}</li>
					<li class='media-li-description'>{{unwatchedMovie.description}}</li>

				{{/each}}

			</ul>
		</div>

		<div>
			<h3 class="media-h3">Watched</h3>
			<hr>
			<ul class='media-ul'>
				{{#each watchedMovies as |watchedMovie|}}

					<li class='media-li-title'>{{watchedMovie.name}}</li>
					<li class='media-li-description'>{{watchedMovie.description}}</li>
				{{/each}}
			</>
		</div>

	</section>

</main>