<h2>Profile Page</h2>

{{user.name}}<br />
{{user.email}}<br />

<label for='new-name-input'>New Name: </label>
<input type='text' id='new-name-input' />
<button id='change-name-button'>Change Name</button>