<div class='reg-container'>
	<section class='reg-input'>
		<input type='text' id='name-input' placeholder='Name' />
		<input type='text' id='email-input' placeholder='Email' />
		<input type='password' id='password-input' placeholder='Password' />

		<button class='reg-btn' id='register-button'>Register</button>
	</section>
</div>
<p class='to-other'>Already have an account? <a href='/login'>Login</a></p>