* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(19, 2, 65);
	color: white;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}

/* dialog styling */

dialog {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1.5em;
	outline: none;
	border: transparent;
	border-radius: 1rem;
	background-color: rgb(11, 1, 43);
}

dialog::backdrop {
	background-color: rgba(111, 0, 255, 0.5);
}

dialog input {
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: 0.75em;
	outline: none;
	border-color: white solid 1px;
}

dialog input:focus,
dialog input:hover {
	border-color: pink;
}

dialog button {
	font-size: 1.5rem;
	padding: 0.75em;
	outline: none;
	border-color: transparent;
	background-color: transparent;
	color: white;
}

dialog button:hover,
dialog button:focus {
	color: pink;
}

.dialog-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.dialog-label {
	color: white;
	font-size: 1.5rem;
}

/* /register and /login styles */
.reg-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-10%);
}

.reg-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	font-size: 5rem;
}

.reg-input > input {
	padding: 0.5em;
	border-color: transparent;
	border-radius: 4rem;
	background-color: rgba(11, 1, 43, 0.5);
	color: white;
	outline: none;
}

.reg-input > input:focus,
.reg-input > input:hover {
	border-color: white;
}

.reg-btn {
	border-color: transparent;
	text-align: left;
	color: rgba(255, 255, 255, 0.75);
	background-color: transparent;
}

.to-other {
	color: rgba(255, 255, 255, 0.5);
	transform: translateY(-150%);
	text-align: right;
	padding: 2em;
	font-size: 3rem;
}

.reg-btn:hover {
	color: white;
}

/* /profile styles */
.profile-title {
	text-align: center;
	font-size: 4rem;
	color: rgb(255, 242, 227);
	padding: 1em;
}

.profile-section {
	font-size: 3rem;
	padding: 0.5em;
	margin-left: 10rem;
}

.profile-section > * {
	padding: 1em 0;
}

.change-pass-btn {
	margin-top: 1em;
	font-size: 2rem;
	padding: 0.75em;
	border-radius: 2rem;
	border-color: transparent;
	text-align: left;
	color: rgba(255, 255, 255, 0.75);
	background-color: rgba(11, 1, 43, 0.25);
}

.change-pass-btn:hover,
.change-pass-btn:focus {
	color: white;
	background-color: rgba(11, 1, 43, 1);
}

.profile-new-name-warning {
	color: rgb(5, 255, 242);
	font-size: 2rem;
}

.new-name-input {
	font-size: 1.5rem;
	padding: 0.75em;
	border-width: 1px;
	border-color: transparent;
	border-radius: 4rem;
	background-color: rgba(11, 1, 43, 0.5);
	color: white;
	outline: none;
}

.new-name-input:hover {
	border-color: white;
}

.change-name-button {
	margin-top: 1em;
	font-size: 1.5rem;
	padding: 0.75em;
	border-color: transparent;
	border-radius: 4rem;
	background-color: rgba(11, 1, 43, 0.25);
	color: white;
	outline: none;
}

.change-name-button:hover,
.change-name-button:focus {
	color: white;
	background-color: rgba(11, 1, 43, 1);
}

/* /home styles */

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: clamp(1rem, 3rem, 5rem);
	margin-top: 20vh;
}

.card-container img {
	width: clamp(10rem, 20vw, 65%);
	height: auto;
	filter: brightness(0) saturate(100%) invert(76%) sepia(65%) saturate(3501%) hue-rotate(91deg) brightness(106%) contrast(96%);
	transition: ease-in-out 0.4s;
}

.card-container img:hover,
.card-container img:focus {
	width: 100%;
}

.card-container p {
	font-size: 2rem;
	margin: 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.card button {
	color: white;
	font-size: 2rem;
	padding: 0.75em;
	background-color: rgba(11, 1, 43, 0.5);
	border-radius: 1.5rem;
	border-color: transparent;
}

.card button:hover,
.card button:focus {
	color: pink;
}

.card * {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* media styles */

.content-area {
	margin-top: 2rem;
	font-size: 3rem;
	display: flex;
	gap: 1em;
}

.content-area > * {
	flex: 1;
	margin: 1em;
}

.content-area ul {
	margin-top: 2em;
}

.media-top {
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	padding: 2em;
}

.media-top button {
	color: white;
	padding: 1em;
	background-color: transparent;
	border-color: transparent;
	font-size: 1.5rem;
}

.media-h2 {
	font-size: 4rem;
}

.media-h3 {
	font-size: 3rem;
}

.media-top button:hover,
.media-top button:focus {
	color: purple;
}

.media-ul li {
	margin: 1em 0;
}

.media-li-title {
	font-weight: bold;
	font-size: 1.25em;
}

.media-li-description {
	color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
	.card-container {
		flex-direction: row;
	}
}
