* {
  background-color: #6448d4;
}

.container {
  font-family: Arial, sans-serif;
  background-color: #d2cad5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 50px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fbfbfb;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0d1c4a;
}

a {
  color: #c0d45a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
