/* Set the height of the body to 100% */
html, body {
    height: 100%;
    color: white;
  }
  
  /* Set the background color of the body */
  body {
    background-color: #230677;
  }
  
  /* Style the header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  main {
    position: relative;
    top: 100px; /* Replace 60px with the height of your navbar */
    text-align: center;
  }
  
  /* Style the navigation bar */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B012B;
    color: white;
    width: 100%;
  }
  
  /* Style the logo */
  .logo {
    font-size: 24px;
    margin-left: 10px;
  }
  
  /* Style the topics */
  .topics {
    margin-right: 10px;
  }
  
  /* Style the profile */
  .profile {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Style the main content */
  main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
  }
  
  /* Style the columns */
  .column {
    width: 50%;
    height: 100%;
  }
  
  /* Style the movie and song lists */
  ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
  }
  
  /* Style the movie and song list items */
  li {
    margin-bottom: 5px;
  }
  
  /* Style the movie template */
  #movie-template {
    display: none;
  }