body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6947c0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  form {
    background-color: #82369a;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    margin-top: 10%;
    border: none; /* Add this line to remove the border */
  }
  
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }

  
  button[type="submit"] {
    background-color: #291c8b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  a {
    color: #fff;
  }

  p {
    margin-top: 40px;
    text-align: end;
    margin-top: 100px;
  }